/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';
// @import 'primeflex/primeflex.scss';



@font-face {
    font-family: ir;
    src: url(./fonts/IRANSans-Edit.ttf);
}

* {
    font-family: ir;
}

.p-menu-item-link {
    direction: rtl;
}